<div class="contact ">
    <div class="contactInformation container">
        <div class="information">
            <h2>No dudes en contactarnos si tienes alguna pregunta</h2>
            <p class="title">Teléfono</p>
            <p>(xxx) xxx-xxx</p>
            <p class="title">Correo electrónico</p>
            <p>correoelectrónico@correo.com</p>
        </div>
        <div class="form">
            <form>
                <div class="name">
                    <label for="name">Nombre Completo: </label>
                    <input type="text" name="name" placeholder="Ingrese su nombre completo" required>
                </div>
                <div class="email">
                    <label for="email">Correo electrónico: </label>
                    <input type="email" name="email" placeholder="Ingrese su email" required>
                </div>
                <div class="message">
                    <label for="message">Mensaje: </label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>
                <input class="button" type="button" value="Enviar">
            </form>
        </div>

    </div>

</div>