<footer>
    <div class="container footer">
        <div class="footerInformation">
            <h3>Abierto a Diario</h3>
            <p>7am - 8pm de luneas a viernes</p>
            <p>9am - 4pm los fines de semana</p>
            <p>123 avenida xxxxxxx de la ciudad de xxxxxxxx</p>
            <div class="icons">
                <a target="_blank" class="facebook" href="https://www.facebook.com/">
                    <img src="../../../assets/img/facebook.png" alt="facebook">
                </a>
                <a target="_blank"
                class="youtube" href="https://www.youtube.com/">
                    <img src="../../../assets/img/youtube.png" alt="youtube">
                </a>
            </div>
            <a href="#">&copy; 2022 - Freddy Guapi Todos los derechos reservados</a>
        </div>
        <div class="footerButton">
            <a routerLink="join">Únete ahora</a>
        </div>
    </div>
</footer>