:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --color1: #feffff;
    --color2: #000000;
    --color3: #b4a5a5;

}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

/*Globales*/
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

p {
    margin: 0;
    color: var(--color1);
}

h1,
h2,
h3 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

img {
    max-width: 100%;
}