<section class="about container">
    <div class="aboutFitness">
        <div>
            <h2>Acerca de Fitness Club</h2>
        </div>
        <div class="aboutInformation">
            <div>
                <h3>Prepárate para superar obstáculos mentales y corporales. En Fitness Club, creemos que volver a
                    ponerte en marcha significa marcar tu propio ritmo. Así que comienza tu entrenamiento con nosotros
                    hoy mismo. </h3>
            </div>
            <div class="aboutHours">
                <div>
                    <h4>Ubicación</h4>
                    <p>123 avenida xxxxxx St</p>
                    <p>EC 0000000</p>
                </div>
                <div>
                    <h4>Horas</h4>
                    <p>7 am. a 8 pm. Días entre semana</p>
                    <p>9 am. a 3 pm. Fines de semana</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="imagen">
</div>
<section class="container">
    <div class="
    equipment">
        <div>
            <h2>Equipamiento</h2>
        </div>

            <div class="
            equipmentInformation">
               <ul>
                <li>Cuerdas de Batalla y Poleas</li>
                <li>Cuerdas Suspendidas</li>
                <li>Mancuernas y Placas Amortiguadoras</li>
                <li>Pesas Libres</li>
                <li>Guantes para Entrenamiento con Pesas</li>
                <li>Bancos de step</li>
                <li>Alfombras y Bloques de Yoga</li>
                <li>Estudio de Gimnasia y Anillas</li>
                <li>Pista de Obstáculos Personalizada</li>
                <li>Vestuario</li>
                <li>Duchas y Toallas</li>
                <li>Artículos de Aseo de Primera Calidad</li>
               </ul>
            </div>
    </div>
</section>